<h3>Choose your Avatar:</h3>

<div class="avatar-grid">
  <div class="avatar-grid-line1">
    <button {{action 'updateAvatar' 1}}>{{avatar-display 1}}</button>
    <button {{action 'updateAvatar' 2}}>{{avatar-display 2}}</button>
    <button {{action 'updateAvatar' 3}}>{{avatar-display 3}}</button>
    <button {{action 'updateAvatar' 4}}>{{avatar-display 4}}</button>
    <button {{action 'updateAvatar' 5}}>{{avatar-display 5}}</button>
  </div>
  <div class="avatar-grid-line2">
    <button {{action 'updateAvatar' 6}}>{{avatar-display 6}}</button>
    <button {{action 'updateAvatar' 7}}>{{avatar-display 7}}</button>
    <button {{action 'updateAvatar' 8}}>{{avatar-display 8}}</button>
    <button {{action 'updateAvatar' 9}}>{{avatar-display 9}}</button>
    <button {{action 'updateAvatar' 10}}>{{avatar-display 10}}</button>
  </div>
</div>
