{{#if userAuth.ifAuth}}
  <div id="new-question-box-first">
    <form>
      <div class="form-group">
        <label for="text">Question:</label>
        {{textarea value=text id="text" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="author">Your Name:</label>
        {{input value=author id="author" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="text">Additional Notes:</label>
        {{textarea value=note id="note" class="form-control"}}
      </div>
      <div class="form-group">
        <label for="timestamp">Time Stamp:</label>
        {{input value=timestamp id="timestamp" class="form-control" type="date"}}
       </div>
      <button class="btn btn-primary" {{action 'saveQuestion'}}>Ask!</button>
    </form>
  </div>
{{else}}
  <h4>You must be logged in to ask a question.</h4>
  {{#link-to 'login'}}Login/Create Account{{/link-to}}
{{/if}}
