<div class="side-box">
  <div id="new-question-header">
    <h2>Add a question:</h2>
  </div>
  <div>
    <hr>
  </div>
    <div id="side-box-form">
      {{new-question saveQuestion="saveQuestion"}}
    </div>
</div>
<div class="main-box">
  <!-- <div id="question-day">
    <h2>Question of the Day</h2>
    <hr>
    {{#each model as |question|}}
      <p><strong>Question: </strong><span id="question-day-text">{{question.text}}</span></p>
      <p id="question-day-author">- {{question.author}} <span id="question-day-timestamp">({{question.timestamp}})</span></p>
    {{/each}}
  </div> -->
  <div id="question-list">
    <div id="question-list-heading">
      <h3>Questions</h3>
    </div>
    <hr>
      {{#each model.questions as |question|}}
        {{question-tile question=question update="update"}}
      {{/each}}
  </div>
</div>
