<div class="side-box">
  <h2 class="master-title">Ask the Master:</h2>
  <div>
    <hr>
  </div>
  <img src="http://www.bhgconcepts.com/img/robot-1536843.png" alt="droid" class="img-responsive img-circle">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="main-box">
  <div id="question-content">
    <h2>Question: {{model.text}}?</h2>
    <div class="question-author-info">
      <h4>Author: {{model.user.name}}</h4>
      <h4>Date: {{model.timestamp}}</h4>
    </div>
    <div>
      <hr>
    </div>
    <label for="question-notes">Notes:</label>
    <p class="question-notes">{{model.note}}</p>
  </div>
  <div id="question-answers">
    <h2>Answers:</h2>
    {{#each model.answers as |answer|}}
    <div>
      <hr>
    </div>
      {{answer-tile answer=answer}}
    {{/each}}
  </div>
  {{new-answer saveAnswer="saveAnswer" question=model}}
</div>
